<div class="table-responsive">
<table class="equipment-table table table-striped" id="{{ widget.name }}-table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Size</th>
      {% if widget.show_number %}
      <th scope="col">Number</th>
      {% endif %}
      {% if widget.show_cost %}
      <th scope="col">Cost</th>
      {% endif %}
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for widget in widget.subwidgets %}
    {% include "rentals/widgets/equipment_item_widget.html" %}
    {% endfor %}
  </tbody>
</table>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="fas fa-plus"></span>
    Add Item
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu" id="add-dropdown">
    {% for type in widget.item_types %}
    <a href="#" id="{{ type.description | cut:' ' }}-dropdown" class="dropdown-item">{{ type.description }}</a>
    {% endfor %}
  </div>
</div>
<div hidden id="show-number">{{ widget.show_number }}</div>
<div hidden id="item-cost">{{ widget.item_cost|default:"0" }}</div>
<div hidden id="free-items">
  <ul class="items">
  {% for item_type in widget.free_items %}
    <li id="free-{{ item_type.description | cut:' ' }}">{{ item_type.description }}</li>
  {% endfor %}
  </ul>
</div>
<div hidden id="size-options">
  {% for item, sizes in widget.item_size_map.items %}
  <div id="{{ item }}">
    {% if sizes|length != 0 %}
    <ul class="sizes">
      {% for size in sizes %}
      <li>{{ size }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</div>
