{% extends "bubbles/base.html" %}

{% block pre_content %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success altert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ message|capfirst }}
</div>
{% endfor %}
{% endif %}
{% endblock messages %}
{% endblock %}

{% block content %}
<div class="row">
  {% if rentals %}
  <div class="col-sm-6">
    <h1>My Rentals</h1>
    <div class="table-responsive">
      <table class="table table-striped" id="rental-table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Number</th>
          </tr>
        </thead>
        <tbody>
          {% for rentalitem in rentals %}
          <tr>
            <td>{{ rentalitem.item.description }}</td>
            <td>{{ rentalitem.item.number }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% if requests %}
  <div class="col-sm-6">
    <h1>My Requests</h1>
    <ul class="list-group">
      {% for request in requests %}
      <li class="list-group-item"><a href={% url 'rentals:request_equipment' request.id %}>{{ request.rental_period }}</a>
        {% endfor %}
  </div>
  {% endif %}
  {% if rentals and requests %}
</div>
<div class="row">
  {% endif %}
  <div class="col-sm-6">
    <iframe class="weather" width="650" height="450" src="https://embed.windy.com/embed2.html?lat=-34.247&lon=18.532&zoom=11&level=surface&overlay=waves&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=true&detailLat=-34.186&detailLon=18.443&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe> 
  </div>
</div>
{% endblock %}
