.form-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-heading {
  margin-top: 20px;
}

.admin-app-table-name {
  width: 50%;
}

.admin-app-table-btn {
  width: 25%;
}

.filter-link {
  display: inline-block;
  width: 100%;
  height: 100%
}

caption {
  caption-side: top;
}

iframe.weather {
  margin-top: 10px;
}

.chart rect {
  fill: steelblue;
}

.reset-password {
  visibility: hidden;
}
